.scroll-anchor {
    padding-top: 40px;
    margin-top: -40px;
}

.masthead {
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}

input[type=color].form-control {
    height: calc(2.25rem + 2px);
    padding: 2px;
}
