body {
    max-width: 60em;
    width: calc(100% - 2em);
    margin: auto;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    color: #f3f3f6;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9em;
    line-height: 160%;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0.5em 0em 1em 0em;
}

a {
    color: inherit;
}

.button {
    background-color: mediumblue;
    color: #f3f3f6;
    padding: 0.3em 1em;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    border-radius: 4px;
}

.button:hover {
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.masthead {
    text-align: center;
    margin: 3.5em auto;
}

.logo {
    font-size: 3.6em;
    font-weight: 900;
    margin: 0em;
    margin-bottom: 0.3em;
}

.slogan {
    font-size: 1em;
    margin-top: 0px;
}

.masthead-img {
    width: 100%;
    display: none;
}

.about {
    width: calc(100% - 1em);
    margin-bottom: 4em;
    padding-left: 1em;
    padding-right: 0.5em;
}

.samples {
    margin-bottom: 4em;
}

figure {
    margin: 0em;
    margin-top: 2em;
    margin-bottom: 2.5em;
    width: 100%;
}

.sample-img {
    width: 100%;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    border-radius: 4px;
}

figcaption {
    font-size: 1.1em;
    text-align: center;
    padding: 1em 1em 1em 1em;
}

.orderform {
    width: calc(100% - 6em);
    max-width: 40em;
    margin: auto;
    padding: 2em 3em 3em 3em;
    margin-bottom: 4em;
    border-radius: 4px;
    background-color: #f3f3f6;
    color: #311842;
    font-family: 'Roboto Mono', monospace;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.template {
    color: #311842;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5em 2.5em;
}

.full-width {
    grid-column: 1 / 3;
}

label {
    font-size: 1.2em;
    font-weight: bold;
}

.form-input {
	display: block;
    box-sizing: border-box;
	width: 100%;
    height: 2.8em;
    margin: 0.25em 0px;
    padding: 0.5em;
    border-style: solid;
    border-color: mediumblue;
    border-width: thin;
    border-radius: 4px;
    font-size: 1em;
    font-family: 'Roboto Mono', monospace;
    -webkit-appearance: none;
}

.hidden {
    display: none;
}

.checkout {
    font-size: 1em;
    font-family: 'Roboto Mono', monospace;
    height: 4em;
    margin-top: 1.5em;
}

.flashes {
    text-align: center;
    margin: auto;
    margin-top: 4em;
    max-width: 32em;
    padding: 1em;
    font-size: 1.2em;
    border-radius: 4px;
    background-color: #f3f3f6;
    color: #311842;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
