{% macro input_field(field) %}
  <div class="form-group">
    {{ field.label }}
    {{ field(class="form-control"+(" is-invalid" if field.errors else ""), required=field.flags.required) }}
    <span class="form-text">{{ field.description | safe }}</span>
    {% for error in field.errors %}
    <div class="invalid-feedback">{{ error }}</div>
    {% endfor %}
  </div>
{% endmacro %}

{% macro file_field(field) %}
  <div class="form-group">
    {{ field.label }}
    <div class="custom-file">
      {{ field(class="custom-file-input"+(" is-invalid" if field.errors else ""), required=field.flags.required) }}
      <span class="custom-file-label">Choose file</span>
    </div>
    {% for error in field.errors %}
    <div class="invalid-feedback d-block">{{ error }}</div>
    {% endfor %}
    <span class="form-text template-warn d-none">{{ field.description | safe }}</span>
    <small class="form-text text-muted">Legend appearance will match
      <a target="_blank" href="http://kle-render.herokuapp.com">KLE-Render</a>
    </small>
  </div>
{% endmacro %}

{% macro color_field(field) %}
  <div class="form-group">
    {{ field.label }}
    <div class="input-group colorpicker-component formcolorpicker">
      {{ field(class="form-control"+(" is-invalid" if field.errors else ""), required=field.flags.required) }}
      <div class="input-group-append">
        <span class="input-group-text input-group-addon"><i></i></span>
      </div>
    </div>
    <span class="form-text">{{ field.description | safe }}</span>
    {% for error in field.errors %}
    <div class="invalid-feedback">{{ error }}</div>
    {% endfor %}
  </div>
{% endmacro %}
