<!DOCTYPE HTML>
<html land="en">
  <head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>kbrenders</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    <link rel="shortcut icon" href="static/favicon.ico">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.min.css">
    <link rel="stylesheet" href="static/style.css">
  </head>

  <body data-spy="scroll" data-target="#navbar">
    <header>
      <nav id="navbar" class="navbar navbar-dark navbar-expand-md bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand text-white" href="#">
            <img class="mb-2" src="static/logo.svg" width=22 height=22>
            <span class="h3">kbrenders</span>
          </a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-end" id="navLinks">
            <ul class="navbar-nav">
              <li class="nav-item mx-2">
                <a class="nav-link" href="#order-anchor">Order Form</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link" href="#faq">FAQ</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link" href="#sample-renders">Sample Renders</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <!-- Masthead -->
      <div id="order-anchor" class="jumbotron jumbotron-fluid masthead">
        <div class="container mt-5">
          <div class="row">
            <div class="col-md">
              <h1 class="jumbotron-heading text-white">Fast & Affordable<br/>3D Keycap Renders</h1>
              <p class="lead text-light">
                Select a keyboard layout and keycap profile, then modify the provided template to specify custom colors and legends. We'll email you a high resolution 3D render of your design within 2 hours.
              </p>
              <a class="btn btn-lg btn-outline-light my-3" href="#sample-renders">View Samples</a>
            </div>
            
            <div class="col-md-7">
              <!-- Flashed messages -->
              {% for message in get_flashed_messages() %}
              <div class="alert alert-primary alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                  <span>&times;</span>
                </button>
              </div>
              {% endfor %}

              <!-- Order Form -->
              <div class="card card-body bg-light">
                <h2 class="card-title">Order a Render</h2>
                <form id="order-form" method="POST" enctype="multipart/form-data">
                  {{ form.csrf_token }}
                  {% from "_formhelpers.html" import render_field %}
                  {{ render_field(form.email) }}
                  <div class="form-row">
                    <div class="col-md-6">{{ render_field(form.keyboard) }}</div>
                    <div class="col-md-6">{{ render_field(form.profile) }}</div>
                  </div>
                  {{ render_field(form.kle) }}
                  <div class="form-row">
                    <div class="col-md-6">{{ render_field(form.camera) }}</div>
                    <div class="col-md-6">{{ render_field(form.background) }}</div>
                  </div>
                  <input class="btn btn-lg btn-primary btn-block" type="submit" value="Place Order ($10)">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container pb-5">
        <h2 class="mb-3 scroll-anchor" id="faq">
          Frequently Asked Questions
        </h2>
        {{ about_text }}
      </div>

      <div class="bg-light py-4">
        <div class="container">
          <h2 class="scroll-anchor" id="sample-renders">
            Sample Renders
          </h2>
          <div class="row">
          {% for image in images %}
          <a class="col-md-6 p-1" href="{{ 'static/renders/'+image[1]+'.png' }}" data-lightbox="renders" data-title="{{ image[0] }}">
            <img class="img-fluid" src="{{ 'static/renders/'+image[1]+'@sm.png' }}" srcset="{{ 'static/renders/'+image[1]+'@md.png 1024w, static/renders/'+image[1]+'.png 1920w' }}" alt="{{ image[1] }}">
          </a>
          {% endfor %}
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="container py-2">
        <a class="btn btn-link mb-1" href="https://geekhack.org/index.php?topic=92666.0">Changelog</a>
        <button class="btn bg-white disabled float-right">
          Created by <a href="http://github.com/CQCumbers">CQCumbers</a>
        </button>
      </div>
    </footer>

    <!-- JQuery, Bootstrap, Lightbox & Stripe JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>

    <script type="text/javascript">
      var stripeKey = '{{ stripeKey }}';
      lightbox.option({
        'resizeDuration': 200,
        'fadeDuration': 200,
        'imageFadeDuration': 0,
        'wrapAround': true,
      });
    </script>
    <script src="static/script.js"></script>

  </body>
</html>
